body {
  margin: 0;
  background-color: #444;
}

h1 {
  height: 100vh;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  font-family: sans-serif;
  text-shadow: 0 0 20px black;
}
